@import "../../../styles/utils.scss";

.myFeedWrapper {
  width: 100%;
  padding: auto;

  border-top: 1px solid $oc-gray-5;


  font-size: 14px;
  font-weight: 500;

  .myFeedMenu {
    width: 460px;
    margin: auto;
    display: flex;

    cursor: pointer;

    .myFeedContents {
      width: 67px;
      height: 53px;
  
      margin-left: 25px;
      margin-right: 25px;
      padding: 18px 0;
    }

    .active {
      font-weight: 600;
    }
  }
  
}