@import "../../../styles/utils.scss";

.myFeedWrapper {
  width: 100%;
  padding: auto;

  border-top: 1px solid $hong-gray-border;


  font-size: 14px;
  font-weight: 500;

  .myFeedMenu {
    width: 460px;
    margin: auto;
    display: flex;

    cursor: pointer;
  }

  .myFeedContents {
    display: flex;
  }
  
}