@import "../../../styles/utils.scss";

.myFeedTab {
  width: 67px;
  height: 53px;
  margin-top: -1px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 18px 0;
  
  text-align: center;
}

.active {
  font-weight: 600;
  border-top: 1px solid black;
}