@import "../../../styles/utils.scss";

.not-found {
  width: 100%;
  height: 169px;
  padding: 40px;

  background: $hong-gray-bg;

  justify-content: center;
  align-items: center;
  text-align: center;

  .top-message {
    font-size: 14.5px;
  }

  .bottom-message {
    margin-top: 40px;
    margin-bottom: 20px;

    font-size: 16px;

    a {
      color: #00376B;
    }
  }
}