@import "../../../styles/utils.scss";

.feed-item {
  position: relative;
  width: 602px;
  min-height: 600px; 
  margin: auto;

  background-color: white;

  @include hong-border;

  .feed-header {
    padding: 16px;
    display: flex;
    width: 100%;
    height: 60px;

    border-bottom: 1px solid $hong-gray-border;

    
    .profile-imagebox{
      position: absolute;
      top: 8px;
      left: 12px;
      width: 42px;
      height: 42px;
      padding-top: 3.5px;
      padding-left: 3.5px;

      border: 1.5px solid red;
      border-radius: 50%;

      overflow: hidden;

      .profile-image{
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
    }

    .profile-text{
      height: 26px;
      padding: 2px;
      margin-left: 46px;

      .profile-name{
        height: 22px;
        font-weight: 600;
      }

      .feed-place{
      }
    }

    .feed-add{
      margin-left: auto;
      font-size: 20px;
      font-weight: 600;
    }
  }

  .feed-images{
    width: 600px;
    max-height: 600px;
  }

  .feed-contents{
    .buttonbox{
      display: flex;
      width: 600px;
      height: 40px;
      padding: 0 16px;
      margin-top:4px;

      .share{
        margin-left: auto;
      }

      span{
        width: 40px;
        height: 40px;
        padding: 5px;

        img {
          width: 30px;
          height: 30px;
        }
        
      }
      
    }
    .likes_count{
      width: 600px;
      height: 17.5px;
      padding: 0 16px;
      margin-bottom: 8px;
    }
    .feed-text{
      width: 600px;
      height: 40px;
      padding: 0 16px;

      display: flex;
    }
    .feed-created{
      width: 600px;
      height: 17.5px;
      padding: 0 16px;
      margin-bottom: 8px;
      font-size: 12px;
      color: $hong-gray-text;
    }
    .feed-comments{
      width: 600px;
      height: 56px;
      border-top: 1px solid $hong-gray-border;
      padding: 0 16px;
      display: flex;

      .form-comments{
        margin: auto 0;
        color: $hong-gray-text;
      }
      .form-comments-submit{
        margin: auto 0 auto auto;
        color: skyblue;
      }
    }
  }
}
