@import "../../../styles/utils.scss";

.myFeedModal {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;

  width: 100%;
  height: 200%;

  background-color: rgba(0, 0, 0, 0.151);

  &.closed {
    display: none;
  }

  .myFeedPopUp {
    position: relative;
    top: 10%;
    bottom: 10%;
    z-index: 200;
    margin: auto;

    width: 90%;
    height: 90%;
    max-width: 907px;
    max-height: 600px;
    background-color: white;

    display: flex;
    
    .imageSector {
      position: relative;
      width: 600px;
      height: 100%;
      background-color: white;

      .imageUploadButton{
        position: relative;
        width: 100%;
        height: 100%;
        border: 1px dashed $hong-gray-text;

        .inputButton-file{
          position: relative;
          width: 50px;
          height: 50px;
          margin-left: 250px;
          top: 250px;
  
          font-size: 50px;
          text-align: center;
          color: white;
          
          padding: 10px 32px 20px 32px;
          border: 1px solid rgb(182, 222, 238);
          border-radius: 100%;
          outline: 0;
    
          background-color: rgb(182, 222, 238);
  
          cursor: pointer;
        }
      }
      
      img {   
        width: 100%;
        height: 100%;
      }

      input{
        display: none;
      }
    }

    .contentsSector {
      width: 307px;
      height: 100%;

      .contentsWrapper{
        width: 100%;
        height: 100%;
        background-color: white;

        display: flex;
      }

      .contentsSector-title{
        height: 72px;
        padding: 16px;
        border-bottom: 1px solid $hong-gray-border;

        display: flex;

        .title-imageBox{
          width: 32px;
          height: 32px;

          img{
            width: 32px;
            height: 32px;
            margin: 5px;
            border-radius: 50%;
          }
        }

        .title-textBox{
          margin-left: 14px;
          width: 100%;
          height: 100%;

          .title-textBox-name{
            font-weight: 600;
          }
        }

        .title-menu{
          font-size: 28px;
        }
      }
      .contentsSector-addFeed_body{
        height: 460px;
        padding: 16px 16px;
        border-bottom: 1px solid $hong-gray-border;

        .contentsSector-description{
          display: flex;

          .body-imageBox{
            width: 32px;
            height: 32px;

            margin-left: 1px;

            img{
              width: 32px;
              height: 32px;
              margin: 5px;
              border-radius: 50%;
            }
          }

          .body-textBox{
            margin-left: 14px;
            width: 100%;
            height: 100%;

            font-size: 16px;

            .body-textBox-name{
              font-weight: 600;
              font-size: 14px;
            }
          }
        }
      }

      .contentsSector-footer{
        
        .add_button-submit{
          width: 200px;
          height: 50px;
          margin: auto;
          margin-top: 10px;
          padding-top: 10px;

          color: white;
          font-size: 20px;
          text-align: center;

          background-color: rgb(182, 222, 238);
          border: 1px solid rgb(182, 222, 238);

          cursor: pointer;
        }
      }
    }
  }  
}