@import "../../../styles/utils.scss";
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

.myStory-item {
  width: 115px;
  height: 100%;
  padding: 10px 15px;

  .storyImage{
    width: 87px;
    height: 87px;
    margin: auto;

    img {
      width: 77px;
      height: 77px;

      margin: 5px;
      @include hong-border;
      border-radius: 50%;
    }

  }

  .storyTitle{
    padding-top: 15px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;

  }

  
}