@import "../../../styles/utils.scss";

.myFeedModal {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;

  width: 100%;
  height: 200%;

  background-color: rgba(0, 0, 0, 0.151);

  &.closed {
    display: none;
  }

  .myFeedPopUp {
    position: relative;
    top: 10%;
    bottom: 10%;
    z-index: 200;
    margin: auto;

    width: 90%;
    height: 90%;
    max-width: 907px;
    max-height: 600px;
    background-color: $hong-gray-bg;

    display: flex;
    
    .imageSector {
      width: 600px;
      height: 100%;
      background-color: blue;

      img {   
        width: 100%;
        height: 100%;
      }
    }

    .contentsSector {
      width: 307px;
      height: 100%;

      .contentsWrapper{
        width: 100%;
        height: 100%;
        background-color: white;

        display: flex;
      }

      .contentsSector-title{
        height: 72px;
        padding: 16px;

        display: flex;

        .title-imageBox{
          width: 32px;
          height: 32px;

          img{
            width: 32px;
            height: 32px;
            margin: 5px;
            border-radius: 50%;
          }
        }

        .title-textBox{
          margin-left: 14px;
          width: 100%;
          height: 100%;

          .title-textBox-name{
            font-weight: 600;
          }

        }
      }
      .contentsSector-body{
        height: 368px;
        padding: 16px 16px;

        .contentsSector-description{
          display: flex;

          .body-imageBox{
            width: 32px;
            height: 32px;

            margin-left: 1px;

            img{
              width: 32px;
              height: 32px;
              margin: 5px;
              border-radius: 50%;
            }
          }

          .body-textBox{
            margin-left: 14px;
            width: 100%;
            height: 100%;

            font-size: 16px;

            .body-textBox-name{
              font-weight: 600;
              font-size: 14px;
            }
          }
        }
      }
      .contentsSector-details{
        height: 104px;
        padding: 4px 16px 0px;
        background-color: yellow;
      }
      .contentsSector-comment_input{
        height: 56px;
        padding: 0px 16px;
        background-color: green;
      }
    }
  }  
}