@import "../../../styles/utils.scss";
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 54px;
  z-index: 100;

  background: white;
  border-bottom: 1px solid $hong-gray-border;

  .header-contents {
    position: relative;
    width: 975px;
    height: 54px;
    padding: 0 20px;
    margin: auto;

    display: flex;
    align-items: center;
    
    color: black;

    .left_icons{
      .logo {
        font-family: 'Norican', cursive;
        font-weight: 800;
        font-size: 24px;
        
        cursor: pointer;
      }
    }

    .center_searchbar{
      
    }

    .right_icons{
      position: relative;
      top: -2px;
      height: 25px;
      margin-left: auto;
      display: flex;

      cursor: pointer;

      .home {
        margin-left: 22px;
        font-weight: 800;
        font-size: 25px;
      }

      .logout {
        margin-left: 22px;
        font-weight: 800;
        font-size: 25px;
      }

      .menu-profile {
        width: 28px;
        height: 28px;
        
        margin-left: 22px;
        padding: 1.5px;
  
        img {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          
        }
      }
    }

    

    
  
    

    
  }
  
}