@import "../../../styles/utils.scss";
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

.auth-set {
  margin: auto;
  text-align: center;
  
  @include media("<medium") {
    width: 100%;
  }

  .auth-form {
    width: 350px;
    background-color: white;
  
    @include hong-border;
    border-radius: 3px;
    min-height: 380px;
  
    padding: 16px 0;

    .title {
      text-align: center;
      font-family: 'Norican', cursive;
  
      margin: 6px auto 38px;
      font-size: 36px;
      font-weight: 800;
      user-select: none;
    }
  
    .error {
      margin: 15px auto;
      .message {
        font-size: 14px;
        color: #ED4956;
      }
    }
  
    .inputWrapper {
      width: 268px;
      height: 38px;
      padding: 8px;
      margin: 0 auto;
      text-align:left;

      @include hong-border;
      border-radius: 2px;

      font-size: 12px;
      background-color: $hong-gray-bg;
      margin-bottom: 6px;

      &.up{
        transition: font-size 0.2s;
        font-size: 10px;
        color: $hong-gray-text;
        padding-top: 2px;
        padding-left: 10px;
      }
      
      input {
        width: 253px;
        background-color: $hong-gray-bg;
        border: none;
        outline: none;
      }

      &:focus {
        border: 1px solid black;
      }
    }
  
    .auth-button {
      width:268px;
      height: 30px;
      background: #95d4fd;
  
      margin: 14px auto;
      border-radius: 5px;
      padding: 5px 9px 5px 9px;
  
      color: white;
      font-size: 1.0rem;
  
      user-select: none;
      pointer-events: none; 
  
      &.possible {
        background: #0095F6;
        user-select: initial;
        cursor: pointer;
        pointer-events:all; 
      }
    }

    .or_box {
      display: flex;
      width: 288px;
      margin: 15px auto;
      padding: 0 15px 0 15px;
      color: #8E8E8E;

      .or_line{
        margin-top: 0.7rem;
        width: 102px;
        height: 1px;
        background-color: #DBDBDB;
      }

      .or{
        margin: 0 10px 0 10px;
      }
    }

    .fb_box {
      width: 288px;
      margin: 15px auto;

      color: #385185;
      font-weight: 600;

      img {
        width: 16px;
        height: 16px;
      }
    }

    .pw_forget_box {
      margin: 15px auto 0 auto;

      font-size: 13px;
      color: #385185;
    }
  
    .description {
      padding-top: 1rem;
      padding-bottom: 0.5rem;
  
      display: flex;
      flex-direction: row-reverse;
  
      font-size: 1.2rem;
      color: $oc-blue-7;
  
      @include media("<medium") {
        justify-content: center;
      }
    }
  }

  .transition_box {
    position: relative;
    margin-top: 10px;
    padding: 16px 0 16px 0;
    background-color: white;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 350px;
    height: 60px;

    .link_box {
      .link {
        color: #0095F6;
      }
    }

    @include media("<medium") {
      width: 100%;
      top: 0%;
    }
  }

  .app_box {
    width: 350px;
    height: 105px;

    .app_text {
      padding: 15px;
    }

    .app_button_list {
      display: flex;
      justify-content: center;

      a img {
        margin: 10px 5px 10px 5px;
      }
      
    }
  }
}

