@import "../../../styles/utils.scss";

.authWrapper {
  margin: 32px auto;

  display: flex;
  flex-direction: column;

  width: 875px;
  height: 800px;
  @include media("<medium") {
    width: 95%;
  }

  padding-top: 1rem;
  padding-bottom: 1rem;
}