@import "../../../styles/utils.scss";
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

.profileWrapper {
  max-width: 975px;
  padding: 30px 20px 0 20px;
  margin: auto;

  background: $hong-gray-bg;
  border-bottom: 1px solid $hong-gray-border;
}